@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap')


/* div{

    /* background-image: url("image.jpg");
    background-size: 100% 100%;
     width: 980px;
    height: 980px;
    background-position: top right;
    background-attachment: fixed; */
    /* div{
        background: purple fixed url("./image.jpg") no-repeat right top;
    }
}  */ 



 /* .hidden{
    border-style: hidden;
    color: beige;
}
.dotted{
    border-style: dotted;
    color: red;
}
.double{
    border-style: double;
    color: gray;
}
 .dashed{
    border-style: dashed;
    color: rebeccapurple;
} 
.groove{
    border-style: groove;
    color: green;
}
 .inset{
    border-style: inset;
    color: bisque;
}
.outset{
    border-style: outset;
    border-color: aliceblue;
}
.ridge{
    border-style: ridge;
    border-color: aqua;
}
.solid{
    border-style: solid black 2px;
    border-color: brown;
}  */

/* 
/* .solid1{
    border-radius: 20px;
    border-style: solid;
    border-color: red;
} */

/* 
.solid2{
    border-radius: 25px 25px 56px 56px;
    border-style: solid;
    border-color: darkblue;
}  */

/* img{ */
    /* width: 160px;
    height: 160px;
    border-radius: 50%; */
/* 
    width: max-content;
    height: auto; */
    /* opacity: 0.5; */
    /* filter: grayscale(100%); */
    /* filter: blur(5px); */
/* } */

/* video{
    width: 440px;
    height: 450px;
} */

/* 
#p1{
    font-size: small;
}

#p2{
    font-size: medium;
}

#p3{
    font-size: large;
}

#p4{
    font-size: larger;
}

#p5{
    font-size: 25px;
}

#p6{
    font-size: 2em;
}

#p7{
    font-size: 2rem;
}

#p8{
    font-size: 50%;
} */


/*  
 .it{
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
}
.nt{
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
}

.qt{
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 500;
}  */


/* .ou{
    font-family: 'Courier New', Courier, monospace;

}
.au{
    font-family: 'Times New Roman', Times, serif;

}
.eu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} */


