/* div~p{
    color: red;
    background-color: yellow;
} */


/* 
.vex:hover{
    color: yellow;
} */

/* 
.button1{
    background-color: yellow;
    color: red;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

}

.button2{
    box-shadow: 4px 4px darkblue;
    margin: 10px;

    
}

.button3{
    
    padding: 10px;
    background-color: white;
    border-color: red;
    border-radius: 10px;
    cursor: pointer;
} */
/* 

div{
    width: 200px;
    height: 160px;
    background-color: purple;
    overflow: auto;
    border: solid black 2px;
} */

img{
    float: left;
    /* width: calc(100%-20px); */
    width: min(50px 25px);
}