/* .box{
    box-shadow: 15px 15px 25px 10px red;
}

.box1{
    padding: 35px;
    margin: 0px;
    text-shadow: 2px 2px 4px yellow ;
    }

.box2{
    outline: 2px solid violet;
} */


.tooltip{
    position: relative;
    display: inline-block;

}

.tooltiptext{
    visibility: hidden;
    background-color: purple;
    color: wheat;
    border-radius: 6px;
    padding: 5px;
    margin-left: 5px;
    margin-top: -2px;
    position: absolute;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}