/* *{
    color: darkblue;
    text-align: center;

} */

/* p{
    text-decoration: underline;
    color: azure;
    background-color: black;
} */


/* #box{
    color: darkblue;
    text-align: center;
    border: solid black 2px;
} */

/* p,h1{
    color: darkblue;
    text-align: center;
    border:solid black 2px;
} */

/* .box{
    font-size: 25px;
    width: 154px;
    height: 154px;
    border: solid black 3px;
    color: darkblue;
} */

/* 
p{
    color: blueviolet;
} */


/* p{
    color: #FF0000;
    color: #00FF00;

}

h1{
    color: #0000FF;
} */


/* h1{
    color: rgba(123, 234, 256,50);
}

p{
    color: rgb(143, 24, 251);
} */

/* h1{
    color: hsl(256, 50%, 75%);
}

p{
    color: hsl(296, 60%, 55%);
} */

/* 
p{
    color: hsla(296, 60%, 55%,0.7);
}  */


 /* body{
    text-align: center;
    background-color: solid black;

}  */

/* h1{
    background-color: blue;
    color: aqua;

} */

div{
    width: 756px;
    height: 723px;
    background-image: url('image.jpg')
    /* background-repeat: repeat-x; */
    
    
}

